<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Exakat Faceted search for PROJECT_NAME</title>
	
	<link href="faceted.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
</head>
<body ng-cloak>
    <h1><a href="http://www.exakat.io/"><img src="http://www.exakat.io/exakat.png" width="100">Exakat faceted report for PROJECT_NAME</a></h1>

	<div ng-controller="MainCtrl">

		<section class="top">
			<div ng-repeat="group in facetGroups" class="filter">
			    <div class="float">
				    <h4>{{group.name}} ({{ group.facets.length}})</h4>
                    <select name="multipleSelect" id="multipleSelect" ng-model="useFacets[group.name]" multiple>
                       <option ng-repeat="(name, count) in group.facets | orderBy : option" value="{{name}}">{{name + ' (' + count + ')'}}</option>
                    </select>
                </div>
			</div>	
			<div class="float filter">
        	    <h4>Search</h4>
            	<input name="searchQuery" type="text" class="search-input" ng-model="query"/><a ng-if="query" class="clearQuery" ng-click="clearQuery()">&times;</a>
           </div>
		</section>

		<section class="bottom">
			<div>
				<h2>{{(filteredItems | filter:query).length}} Item{{(filteredItems | filter:query).length !== 1 ? 's' : null}}</h2>

				<p class="wrapper-facets">
					<a ng-if="activeFacets.length" class="clearFacet" ng-click="clearAllFacets()">Clear All</a>
					<a class="clearFacet" ng-repeat="facet in activeFacets" ng-click="clearFacet(facet)">{{facet}}</a>
				</p>

				<table ng-if="(filteredItems | filter:query).length">
					<tr>
						<th>Error</th>
						<th>File</th>
						<th>Code</th>
						<th>Severity</th>
						<th>Impact</th>
					</tr>
					<tr ng-repeat="item in filteredItems | filter:query">
						<td>{{item.error}} <a href="docs.html#{{item.analyzer}}"><i class="material-icons" style="font-size: 14px">help</i></a></td>
						<td>{{item.file}}#{{item.line}}<a href=".{{item.file}}.html#{{item.line}}"><i class="material-icons" style="font-size: 14px">description</i></a></td>
						<td>{{item.code}}</td>
						<td>{{item.severity}}</td>
						<td>{{item.impact}}</td>
					</tr>
				</table><br />
				<p ng-if="!(filteredItems | filter:query).length">Sorry, no results found!</p>
			</div>
		</section>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>